.card{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    margin-left: 1rem;
    margin-right: 1rem;
}

.image img{
    width:100%;
    height: 100%;
}
h3{
    /* border: 1px solid green; */
    text-transform: capitalize;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}
.button{
    margin-bottom: 1.4rem;

}

.btn{
    border: none;
    width: 8rem ;
    height: 30px;
    /* background-color: linear-gradient(to bottom right red green); */
    background-color: rgb(84, 101, 255);
    font-size: 1.1rem;
    color: white;
    border-radius: 20px;


}