body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header{
  /* border: 1px solid green; */
  text-align: center;
  color: rgb(187, 185, 44);
}
.card-container{
  /* border: 1px solid red; */
  /* width: 100%; */
  /* height: 100vh; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* flex-direction: column; */
}

@media screen and (max-width:768px) {
  .card-container{
    
    display: grid;
   
    grid-template-columns: 1fr;
  }
  
}